<h1>Home Page</h1>

<%= form_tag('/', method: :get) do %>
	<%= text_field_tag(:flickr_id) %>
	<%= submit_tag("Load User's Photos") %>
<% end %>

<% cache("flickr_sidebar") do %>
	<%= render_flickr_sidebar_widget(@flickr_id) %>
<% end %>